body {
    background-image: url(../images/bg-load.jpg);
    background-size: cover;
    font-size: 1rem;
    font-family: $font_regular;
}

.container {
    margin: auto;
}

.content {
    padding: 30px;
    img {
        max-width: 100%;
        width: 100%;
    }
}