body {
    background-image: url(../images/bg-load.jpg);
    background-size: cover;
    font-size: 1rem;
    font-family: $font_regular;
    min-height: 100vh;
}

.container {
    margin: auto;
}

.content {
    padding: 30px;
    padding-bottom: 70px;
    img {
        max-width: 100%;
        width: 100%;
    }
}

h1 {
    color: $black;
    font-family: $font_semibold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    color: $black;
    margin-bottom: 1rem;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus, [type="password"]:focus, [type="number"]:focus, [type="date"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="week"]:focus, [multiple]:focus, textarea:focus, select:focus {
    --tw-ring-color: 0;
    border-color: white;
}

.text-danger {
    color: red;
}