body {
    background-image: url(../images/bg-load.jpg);
    background-size: cover;
    font-size: 1rem;
    font-family: $font_regular;
    min-height: 100vh;
}

.container {
    margin: auto;
}

.content {
    padding: 30px;
    img {
        max-width: 100%;
        width: 100%;
    }
}

h1 {
    color: $black;
    font-family: $font_semibold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    color: $black;
    margin-bottom: 1rem;
}