$fonts: '../fonts/';

$font_regular: 'FredokaRegular';
$font_bold: 'FredokaBold';
$font_light: 'FredokaLight';
$font_semibold: 'FredokaSemiBold';
$font_medium: 'FredokaMedium';

$white: #ffffff;
$black: #000000;
$gray: #8f8f8f;