@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vars';
@import 'fonts';
@import 'general';

@import 'components/loading';
@import 'components/home-tabs';


@import 'pages/home';
@import 'components/services';