@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vars';
@import 'fonts';
@import 'general';

@import 'components/loading';
@import 'components/home-tabs';
@import 'components/services';
@import 'components/jobs';
@import 'components/team';

