/*boton hey*/
.wrapper_hey {
    position: fixed;
    width: 190px;
    height: 80px;
    bottom: 10px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hey {
    display: flex;
    align-items: center;
}
.whatsapp svg {
    height: 55px;
    width: 55px;
    @include ipad {
        height: 45px;
        width: 45px;
    }
}

.boton_hey {
    border: none;
    background-color: #EC6FA6;
    border-radius: 100%;
    padding: 7px 10px;
    cursor: pointer;
    animation: boton_hey 0.8s steps(2, start) 2 forwards;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        height: 22px;
        width: 22px;
    }
}

@keyframes boton_hey {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}


.boton_hey:hover {
    background-color: #600025;
}

.text_hey h3 {
    color: #EC6FA6;
    font-family: $font_medium;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-left: 5px;
}

/*formulario*/
.modal {
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
    align-items: end;
    z-index: 100;
    &.open {
        display: flex;
    }
}
.close_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.form_modal {
    position: relative;
    background-color: #600025;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    width: 660px;
    border-radius: 12px;
    transform: translateY(-5px);
    animation: form_modal 0.3s ease-in both;
    z-index: 20;
    p {
        color: $white;
    }
}

@keyframes form_modal {
    0% {
      transform: scale(0);
      transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 100%;
      opacity: 1;
    }
  }

  
  

/*Encabezado del formulario*/
.title_form {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    gap: 4px;
}

.title1 {
    color: #EC6FA6;
    font-size: 35px;
}

.title2 {
    color: #ffff;
    font-size: 35px;
}

/*inputs*/

.input_email {
    display: grid;
    margin-bottom: 15px;
}

.input_nombre_telefono {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    gap: 15px;
    label {
        display: flex;
        flex-direction: column;
    }
}

.input_coment {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.input_submit_info1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input_submit_info1 input {
    color: white;
    background-color: #EC6FA6;
    width: 90px;
    height:35px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.input_submit_info1 input:hover {
    background-color: #dd3d82;
}

input[type=text] {
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-align: left;
    font-weight: bold;
}

input[type=email] {
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-weight: bold;
}

textarea {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    resize: none;
    font-weight: bold;
}

input[type="submit"]:disabled {
    opacity: .7;
}

.wrapper_info1 {
    display: flex;
    flex-direction: column;
}

.wrapper_info p {
    color: #ffff;
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;
}

.redes_info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapper_redes {
    display: flex;
    gap: 10px;
    svg {
        height: 20px;
        width: 20px;
    }
}

.wrapper_redes img {
    height: 20px;
}

/* -------------------------------------------------------------------------- */
/*                            OPACIDAD PLACEHOLDER                            */
/* -------------------------------------------------------------------------- */
input::placeholder, textarea::placeholder {
    color: $white;
    opacity: 1;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
    opacity: 1;
}
input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 19+ */
    color: $white;
    opacity: 1;
}
input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* IE 10+ */
    color: $white;
    opacity: 1;
}
input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */
    color: $white;
    opacity: 1;
}

// Responsive-vertical 

@media only screen and (max-width:560px){
    .form_modal {
        padding: 40px 30px 40px 30px;
        width: 100%;  
    }
    .title_form {
        justify-content: center;
    }
    .title1 {
        font-size: 25px;
    }
    
    .title2 {
        font-size: 25px;
    }
    .input_nombre_telefono {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        gap: 15px;
    }
    input[type=text] {
        font-size: 13px;
    }
    input[type=email] {
        font-size: 13px;
    }
    textarea {
        font-size: 13px;
        resize:horizontal;
    }

    .wrapper_info p {
        font-size: 12px;
    }

    .redes_info2 {
        align-items: center;
    }

    .wrapper_redes {
        svg {
            height: 17px;
            width: 17px;
        }
    }
}

@include ipad {
    .boton_hey {
        height: 35px;
        width: 35px;
        svg {
            height: 22px;
            width: 22px;
        }
    }

    .form_modal {
        box-sizing: border-box;
        width: 70%;
        height: 100%;
        padding: 20px 30px 40px 30px;
    }

    .title_form {
        justify-content: center;
        margin-bottom: 10px;
    }

    .title1 {
        font-size: 25px;
    }

    .title2 {
        font-size: 25px;
    }
    
    .input_email {
        display: grid;
        margin-bottom: 5px;
    }

    .input_submit_info1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    input[type=text], input[type=email]{
       font-size: 14px;
       height: 35px;
    }

    textarea {
        font-size: 14px;
        height: 70px;
    }

    .wrapper_info p {
        font-size: 12px;

    }

    .wrapper_redes {
        display: flex;
        gap: 10px;
        svg {
            height: 17px;
            width: 17px;
        }
    }
}