#reseaux_sociaux {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

/* ACCORDEON RESEAUX SOCIAUX */

.accordeon {
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

/* Taille des onglets fermés */
.accordeon .link {
    position: relative;
    float: left;
    width: 6%;
    height: 100%;
    color: #aaa;
    overflow: hidden;
    transition: 0.4s all;
}

.accordeon .link.w-link {
    width: 33.33%;
}

.accordeon .link:last-child {
    border-right: 0;
}

/* Taille des onglets ouverts */
.accordeon .link.hovered {
    width: 88%;
    background-color: $white;
    //background-image: url(../images/bg-load.jpg);
    background-size: cover;
    //transition: .5s all;
    .column_servicios {
        width: 10%;
    }

    .prev {
        width: 12.5%;
    }
    .full_content {
        left: 0;
    }
}

.accordeon .link:not(.hovered) .full_content {
    opacity: 0;
}

.accordeon .link .full_content {
    background-color: $white;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-left: 12.5%;
    overflow-y: scroll;
    transition: .7s all;
}

.accordeon .link .prev {
    height: 100%;
    width: 100%;
    //transition: 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.accordeon .link .prev>span {
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.accordeon {
    .link .prev img {
        max-width: unset;
    }

    .title {
        h2 {
            font-family: $font_semibold;
            transition: .3s all;
        }
    }

    /* columnas*/
    .column_servicios {
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        background: rgb(217, 26, 77);
        background: linear-gradient(78deg, rgba(217, 26, 77, 1) 0%, rgba(217, 26, 171, 1) 99.67%);
        background-image: url(../images/fondo-servicios.jpg);
        background-size: cover;
        background-position: right;
    }

    .column_trabajos {
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        background: rgb(157, 244, 129);
        background: linear-gradient(79deg, rgba(157, 244, 129, 1) 0%, rgba(235, 255, 2, 1) 99.67%);
        background-image: url(../images/fondo-trabajos.jpg);
        background-size: cover;
        background-position: right;
    }

    .column_Equipo {
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        background: rgb(65, 197, 243);
        background: linear-gradient(14deg, rgba(65, 197, 243, 1) 0%, rgba(23, 243, 200, 1) 99.67%);
        background-image: url(../images/fondo-equipo.jpg);
        background-size: cover;
        background-position: right;
    }

    /*Decoraciones*/
    .svg_cerebro {
        position: absolute;
        top: -40px;
        left: 0;
        height: 50%;
        transition: .3s;
    }

    .svg_cerebro img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3;
    }

    .svg_puntos {
        position: absolute;
        top: -40px;
        right: 20px;
        height: 50%;
        transition: .3s;
    }

    .svg_puntos img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 3;
    }

    .svg_circulo {
        position: absolute;
        top: -200px;
        right: -90px;
        height: 100%;
        transition: .3s;
    }

    .svg_circulo img {
        position: absolute;
        top: -170px;
        right: -90px;
        height: 100%;
        z-index: 3;
    }

    /* textura */
    .texture_servicio {
        position: absolute;
        top: 0;
        right: 0;
        mix-blend-mode: overlay;
        height: 100%;
    }

    .texture_servicio img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 0;
    }

    .texture_trabajos {
        position: absolute;
        top: 0;
        right: 0;
        mix-blend-mode: overlay;
        height: 100%;
        transition: .3s;
    }

    .texture_trabajos img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 0;
    }

    .texture_equipos {
        position: absolute;
        top: 0;
        right: 0;
        mix-blend-mode: overlay;
        height: 100%;
    }

    .texture_equipos img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 0;
    }

    .column_servicios:hover {
        .svg_cerebro {
            top: 0;
        }
    }

    .column_trabajos:hover {
        .svg_puntos {
            top: 0;
        }
    }

    .column_Equipo:hover {
        .svg_circulo {
            top: -170px;
        }
    }

    .texture {
        right: -20px;
        transition: .3s;
    }

    .link:hover {
        .texture {
            right: 0;
        }

        .title {
            h2 {
                transform: scale(1.1);
            }
        }
    }

    .link.rotation {
        .title {
            position: absolute;
            bottom: 120px;
            transform: rotate(-90deg);
            display: flex;
            align-items: center;
            gap: 15px;
            @include ipad {
                bottom: 90px;
            }
            h2 {
                transform: unset;
                font-size: 40px;
                @include ipad {
                    font-size:  28px;
                }
            }

            .icon {
                height: 30px;
                width: 30px;
                transform: rotate(90deg);
                @include ipad {
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }

    /*Titulos*/
    h2 {
        font-size: 50px;
        font-family: $font_regular;
    }

    .title_servicios {
        z-index: 1;
        color: #F596A8;
    }

    .title_trabajos {
        z-index: 1;
        color: #41C5F3;
    }

    .title_equipos {
        z-index: 50;
        color: #D91A5E;
    }
}

@media only screen and (max-width:560px) {
    .accordeon {
        .svg_cerebro {
            height: 35%;
        }

        .svg_puntos {
            height: 35%;
        }

        h2 {
            font-size: 41px;
        }
        
        .title{
            display: flex;
            position: absolute;
            transform: rotate(-90deg);
            align-items: center;
        }
    }
}

@media only screen and (orientation:landscape)and (min-device-width: 560px) 
and (max-device-width: 930px) {
    .accordeon {
        h2 {
            font-size: 34px;
        }

        .svg_circulo {
            top: -10px;
        }
    }
    
}