.container_menu{
    width: 100vw;
    height: 100vh;
    background: rgb(217,26,77);
    background: linear-gradient(0deg, rgba(217,26,77,1) 0%, rgba(217,26,171,1) 100%);
    display: grid;
    top: 0;
    left: 0;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    transform: translate(0,-100%);
    transition: transform .4s ease-in-out;
    &.open_menu {
        transform: translate(0);
    }
}

.menu_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.menu_logo svg{
    width: 120px;
}



.menu_elements{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.element_menu{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: $font_regular;
    &.active {
        color: #b6d936;
    }
}

.menu_frase{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.menu_frase svg{
    width: 450px;
}

.icon_exit{
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    border: 0;
    cursor: pointer;
}

.icon_exit svg{
    height: 30px;
    width: 30px;
}

.home{
    background-color: $black;
    width: 100vw;
    height: 100vh;
}
.icon_open{
    display: inline-block;
    border: 0;
    cursor: pointer;
}

.icon_open svg{
    height: 30px;
    width: 30px;
}

@media only screen and (max-width:560px) {
    .container_menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:55px
    }

    .menu_logo svg{
        width: 100px;
    }

    .element_menu{
        font-size: 25px;
    }

    .menu_frase svg{
        width: 300px;
    }

    .icon_exit{
        top: 50px;
        right: 40px;
        svg{
            height: 25px;
            width: 25px;
        }
    }
    .icon_open svg{
        height:25px;
        width:25px;
    }
}

//Responsive landscape
@media only screen and (orientation:landscape)and (min-device-width: 560px) 
and (max-device-width: 930px)  {
    .container_menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:29px;
    }
    .menu_logo svg{
        width: 80px;
    }

    .menu_elements{
        gap: 10px;
    }

    .element_menu{
        font-size: 20px;
    }

    .menu_frase svg{
        width: 280px;
    }

    .icon_exit{
        top: 50px;
        right: 40px;
        svg{
            height: 25px;
            width: 25px;
        }
    }
    .icon_open svg{
        height:25px;
        width:25px;
    }
}