.wrapper_text{
    display: flex;
    flex-direction: column;
    text-align: center ;
    margin: 0 150px 0 150px ;
}

.encabezado_services{
    font-family: $font_regular;
    font-size: 1rem;
    color:#000000;
    line-height: 3;
    text-transform: none;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.8;
}

.list_Servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    padding-top: 10px;
}

.elemnt_list_servicio{
    color:#000000;
    font-size: 15px;
}

.wrapper_video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #BF2257;
    width: 100%;
    height: 400px;
}

.wrapper_video video{
    justify-content: center;
}


.title_cliente{
    margin: 50px 150px 50px 150px ;
}

.title_cliente h2{
    color:#000000;
    font-size: 15px;
    font-weight: bold;
}

#wrapper_clientes_logos{
    display: flex;
    justify-content: center;
    margin-bottom: 200px ;
}

#wrapper_clientes_logos img{
    width:550px;
}

