.wrapper_text{
    display: flex;
    flex-direction: column;
    text-align: center ;
    margin: 0 150px 0 150px ;
}

.encabezado_services{
    font-family: $font_regular;
    font-size: 1rem;
    color:#000000;
    line-height: 3;
    text-transform: none;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.8;
}

.list_Servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    padding-top: 10px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    .elemnt_list_servicio{
        cursor: pointer;
        color:#000000;
        font-size: 15px;
        text-transform: uppercase;
        border-radius: 30px;
        padding: 5px 12px;
        &:hover {
            background-color: #ccc;
        }
    }
}

.wrapper_video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #BF2257;
    width: 100%;
    height: 400px;
}

.wrapper_video video{
    justify-content: center;
}


.title_cliente{
    margin: 50px 150px 50px 150px ;
}

.title_cliente h2{
    color:#000000;
    font-size: 15px;
    font-weight: bold;
}
.wrapper_logos{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 85px;
}

.contenedor_logos{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: flex-end;
    width:100vw;
    padding: 0px 450px;
    column-gap: 30px;
    row-gap: 18px;
}


.logo_cliente{
    width: 100px;

}

@media only screen and (max-width:760px) {
    .wrapper_text{
        margin: 0 30px 0 30px ;
    }

    .encabezado_services{
        font-size: 0.80rem;
        text-align: justify;
        margin-bottom: 30px;
    }

    .list_Servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
        width: 80%;
        .elemnt_list_servicio{
            font-size: 13px;
        }
    }

    .wrapper_video{
        width: 100%;
        height: 250px;
    }

    .title_cliente{
        display: flex;
        margin:0px;
        padding-bottom: 50px;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .contenedor_logos{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: flex-end;
        width:100vw;
        padding: 0px 450px;
        column-gap: 30px;
        row-gap: 18px;
    }
    
    
    .logo_cliente{
        width: 70px;
    
    }
}