.return {
    display: inline-block;
    svg {
        cursor: pointer;
        margin-bottom: 30px;
        height: 30px;
        width: 30px;
    }
}

.banner {
    margin-bottom: 30px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        color: $white;
        text-transform: uppercase;
        line-height: 1.3;
    }
    h2 {
        font-family: $font_semibold;
        letter-spacing: 8px;
    }
    h3 {
        font-family: $font_regular;
        letter-spacing: 8px;
    }
}

.show-job {
    .thumbnail {
        max-width: 50%;
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .job-content {
        max-width: 50vw;
        margin: auto;
        figure {
            margin-bottom: 1.5rem;
        }
    }
    h1 {
        text-transform: uppercase;
    }
}

@media only screen and(max-width:760px) {
    .return {
        svg {
            height: 25px;
            width: 25px;
        }
    }

    .banner {
        h2 {
            font-size: 27px;
        }
    }

    .show-job {
        h1 {
            text-align: center;
        }
        p {
           text-align: justify;
        }
    }
}