.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
        margin-bottom: 30px;
        margin-left: 30px;
        width: calc((100% / 3) - 20px);
        position: relative;
        &:nth-child(3n + 1) {
            margin-left: 0;
        }
    }
    figure {
        margin-bottom: 10px;
    }
    h2 {
        color: $black;
        font-family: $font_medium;
        font-size: 1.3rem;
        @include ipad {
            font-size: 1rem;
        }
    }
    span {
        display: block;
        @include ipad {
            font-size: 0.9rem;
        }
    }
    .data {
        padding: 0 30px;
        line-height: 1.2;
        @include ipad {
            padding: 0;
        }
    }
}
